<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>微信机器人在线状态</title>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    function sendRequest() {
        $.ajax({
            url: "http://{{ backend }}:10000/logout", 
            type: "POST", 
            dataType: "json", 
            success: function(response) {
                if(response.code == 200){
                  location.reload();
                }else {
                  alert('未知错误');
            }
          },
          error: function() {
            console.error("错误");
           }
          }
         );
    }
</script>
</head>
<body>
  <h1 style="text-align: center">当前机器人在线，无需登录</h1>
  <div style="text-align: center;">
    <button onclick="sendRequest()">退出登录</button>
  </div>
</body>
</html>